<nav  class="uk-navbar-container uk-margin transparent-style" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left">
            <div>
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a href="#" class="nav-link-color link-hover">Products</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li ><a href="#" >Active</a></li>
                                <li ><a href="#">Item</a></li>
                                <li ><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#" class="nav-link-color link-hover">About</a></li>
                </ul>
            </div>
        </div>
        <a class="uk-navbar-item uk-logo" href="#"><span class="blue-style-bold">SCAMBAITING</span></a>
        <div class="uk-navbar-center-right">
            <div>
                <ul class="uk-navbar-nav">
                    <li ><a href="#" class="nav-link-color link-hover" >Contact</a></li>
                    <li ><a href="#" class="nav-link-color link-hover">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>