<% for(var i=0; i<product.length; i++) {%>
<div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s hover-item-product">
    <div class="uk-card uk-card-default">
        <br>
        <div class="uk-card-media-top" style="height: 200px;">
            <img data-src="../img/<%- product[i].product_photo %>" class="uk-align-center" style="height: 100%;" uk-img>
        </div>
        <div class="uk-card-body">
            <h3 style="color: rgb(113,5,81)!important; font-weight: bold;"
                class="uk-card-title uk-text-center"><%- product[i].product_name %></h3>
            <p style="font-weight: bold;" class="uk-text-center">About</p>
            <p class="uk-text-center"><%- product[i].product_description %></p>
            <p><%- new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(product[i].product_price / 100) %></p>
            <div class="uk-flex">
                <div uk-grid>
                    <div class="uk-width-1-1">
                        <button class="uk-button uk-button-primary hover-button"
                            style="font-weight: bold; background-color: rgb(113,5,81)!important;">ADD TO
                            CART
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>