<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load in UIKIT CSS JS -->
    <%- include('partials/_HEAD.ejs') %>

    <title>TEST</title>
</head>

<body>

    <%- include('partials/_NAVBAR.ejs') %>

    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div uk-grid>
                <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s hover-item-product">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top" style="height: 200px;">
                            <img data-src="../img/blacktee.png" class="uk-align-center" style="height: 100%;" uk-img>
                        </div>
                        <div class="uk-card-body">
                            <h3 style="color: rgb(113,5,81)!important; font-weight: bold;"
                                class="uk-card-title uk-text-center">Green Tee</h3>
                            <p style="font-weight: bold;">About</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.
                            </p>
                            <p>$20 USD</p>
                            <div class="uk-flex">
                                <div uk-grid>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button uk-button-primary hover-button"
                                            style="font-weight: bold; background-color: rgb(113,5,81)!important;">ADD TO
                                            CART
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s hover-item-product">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top" style="height: 200px;">
                            <img data-src="../img/blacktee.png" class="uk-align-center" style="height: 100%;" uk-img>
                        </div>
                        <div class="uk-card-body">
                            <h3 style="color: rgb(113,5,81)!important; font-weight: bold;"
                                class="uk-card-title uk-text-center">Green Tee</h3>
                            <p style="font-weight: bold;">About</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.
                            </p>
                            <p>$20 USD</p>
                            <div class="uk-flex">
                                <div uk-grid>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button uk-button-primary hover-button"
                                            style="font-weight: bold; background-color: rgb(113,5,81)!important;">ADD TO
                                            CART
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s hover-item-product">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top" style="height: 200px;">
                            <img data-src="../img/blacktee.png" class="uk-align-center" style="height: 100%;" uk-img>
                        </div>
                        <div class="uk-card-body">
                            <h3 style="color: rgb(113,5,81)!important; font-weight: bold;"
                                class="uk-card-title uk-text-center">Green Tee</h3>
                            <p style="font-weight: bold;">About</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.
                            </p>
                            <p>$20 USD</p>
                            <div class="uk-flex">
                                <div uk-grid>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button uk-button-primary hover-button"
                                            style="font-weight: bold; background-color: rgb(113,5,81)!important;">ADD TO
                                            CART
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s  hover-item-product">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top" style="height: 200px;">
                            <img data-src="../img/blacktee.png" class="uk-align-center" style="height: 100%;" uk-img>
                        </div>
                        <div class="uk-card-body">
                            <h3 style="color: rgb(113,5,81)!important; font-weight: bold;"
                                class="uk-card-title uk-text-center">Green Tee</h3>
                            <p style="font-weight: bold;">About</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.
                            </p>
                            <p>$20 USD</p>
                            <div class="uk-flex">
                                <div uk-grid>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button uk-button-primary hover-button"
                                            style="font-weight: bold; background-color: rgb(113,5,81)!important;">ADD TO
                                            CART
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s hover-item-product">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top" style="height: 200px;">
                            <img data-src="../img/blacktee.png" class="uk-align-center" style="height: 100%;" uk-img>
                        </div>
                        <div class="uk-card-body">
                            <h3 style="color: rgb(113,5,81)!important; font-weight: bold;"
                                class="uk-card-title uk-text-center">Green Tee</h3>
                            <p style="font-weight: bold;">About</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.
                            </p>
                            <p>$20 USD</p>
                            <div class="uk-flex">
                                <div uk-grid>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button uk-button-primary hover-button"
                                            style="font-weight: bold; background-color: rgb(113,5,81)!important;">ADD TO
                                            CART
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s hover-item-product">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top" style="height: 200px;">
                            <img data-src="../img/blacktee.png" class="uk-align-center" style="height: 100%;" uk-img>
                        </div>
                        <div class="uk-card-body">
                            <h3 style="color: rgb(113,5,81)!important; font-weight: bold;"
                                class="uk-card-title uk-text-center">Green Tee</h3>
                            <p style="font-weight: bold;">About</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.
                            </p>
                            <p>$20 USD</p>
                            <div class="uk-flex">
                                <div uk-grid>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button uk-button-primary hover-button"
                                            style="font-weight: bold; background-color: rgb(113,5,81)!important;">ADD TO
                                            CART
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="uk-container">
        <div class="uk-card uk-card-transparent">
            <div class="uk-card-footer uk-text-center">All Rights Reserved STORE</div>
        </div>
    </div>

</body>

</html>