.transparent-style
{
    background-color: transparent!important;
}

.blue-style-bold
{
    font-weight: bold!important;
    color: rgb(113,5,81);
}

.nav-link-color
{
    font-weight: 600!important;
    color: rgb(113,5,81)!important;
}

.link-hover:hover
{
    font-weight: bold!important;
    color: rgb(113,5,81);
}